* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  html, body {
    min-height: 100vh;
    height: auto;
    background-color: #dfdfdf;
  }

  body {
    display: flex;
  }

  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    
    height: 100%;
    padding: 0 1.7rem;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #222;
  }

  .sidebar:hover {
    width: 240px;
    transition: 0.5s;
  }

  .logo {
    height: 80px;
    padding: 16px;
  }

  .menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
  }

  .menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

  .menu li:hover {
    background-color: #e0e0e058;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .menu a span {
    overflow: hidden;
  }

  .menu a i {
    font-size: 1.2rem;
  }

  .logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .main_content {
    position: relative;
    background: #dfdfdf;
    width: 100%;
    padding: 1rem;
  }

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
  }

  .header_title {
    color: #555;
  }

  .add_product {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
  }

  .add_product .product_info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
  }

  .add_product h3 {
    color: #555;
    align-items: center;
  }

  .product_info label {
    color: #222;
    font-size: 20px;
  }

  .product_info .product_enter {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: #222;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
  }

  .submit-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #555;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }

  .submit-btn:hover {
    background-color: #222;
  }

  .tabular_wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
  }

  .table_container {
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background: #222;
    color: #fff;
  }

  th {
    padding: 15px;
    text-align: left;
  }

  tbody {
    background: #dfdfdf;
  }

  td {
    padding: 15px;
    font-size: 14px;
    color: #333;
  }

  tr:nth-child(even) {
    background: #fff;
  }

  tfoot {
    background: rgba(113, 99, 186, 1);
    font-weight: bold;
    color: #fff;
  }

  tfoot td {
    padding: 15px;
  }

  .table_container button {
    color: black;
    background: none;
    cursor: pointer;
  }