* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  html, body {
    min-height: 100vh;
    height: auto;
    background-color: #dfdfdf;
  }
  
  body {
    display: flex;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 110px;
    padding: 0 1.7rem;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #222;
    z-index: 100;
  }
  
  .sidebar:hover {
    width: 240px;
    transition: 0.5s;
  }
  
  .logo {
    height: 80px;
    padding: 16px;
  }
  
  .menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  .menu li:hover {
    background-color: #e0e0e058;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .menu a span {
    overflow: hidden;
  }
  
  .menu a i {
    font-size: 1.2rem;
  }
  
  .logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .main_content {
    flex: 1;
    margin-left: 110px;
    padding: 20px;
    transition: all 0.5s linear;
    background: #dfdfdf;
  }
  
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
  }
  
  .header_title,.analytics_management h3,label {
    color: #555;
  }
  .analytics_management, .tabular_wrapper {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .analytics_management {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .analytics_management label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .analytics_management input, .analytics_management select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  .submit-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #555;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border: none;
  }
  
  .submit-btn:hover {
    background-color: #222; /* darker on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* optional shadow */
  
  }

  .section table {
    width: 100%;
    border-collapse: collapse;
  }
  .section th, .section td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  .section th {
    background-color: #222;
    color: white;
  }
  .section tr:nth-child(even) {
    background-color: #f9f9f9;
  }